.mg-all-md {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.mg-bt-sm {
    margin-top: 40px;
}
.mg-top-sm {
    margin-top: 40px;
}

@media(max-width: 900px) {
    .mg-all-md {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}